body{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root{
     --blue: #7F22FE;
        --color-gray-50: oklch(98.5% .002 247.839);
    --color-gray-100: oklch(96.7% .003 264.542);
    --color-gray-200: oklch(92.8% .006 264.531);
    --color-gray-300: oklch(87.2% .01 258.338);
    --color-gray-400: oklch(70.7% .022 261.325);
    --color-gray-500: oklch(55.1% .027 264.364);
    --color-gray-600: oklch(44.6% .03 256.802);
    --color-gray-700: oklch(37.3% .034 259.733);
    --color-gray-800: oklch(27.8% .033 256.848);
    --color-gray-900: oklch(21% .034 264.665);
.text-blue { color: var(--blue); }
.text-blue-bg { background-color: var(--blue); }
.text-gray-50  { color: var(--color-gray-50);  }
.text-gray-100  { color: var(--color-gray-100);  }
.text-gray-200  { color: var(--color-gray-200);  }
.text-gray-300  { color: var(--color-gray-300);  }
.text-gray-400  { color: var(--color-gray-400);  }
.text-gray-500  { color: var(--color-gray-500);  }
.text-gray-600  { color: var(--color-gray-600);  }
.text-gray-700  { color: var(--color-gray-700);  }
.text-gray-800  { color: var(--color-gray-800);  }
.text-gray-900  { color: var(--color-gray-900);  }
}


.p-navbar{
    font-size: 0.875rem;

}
.icon-nav{
    height: 3rem;
    width: 3rem;
    background-color: #FD4128;
    color: white;
}
.img-nav{
    width: 2.5rem;
    height: 2.5rem;
    border: #FFB86A 2px solid;
}
.nav-link:hover{
    color:#F54A00 ;
}
.nav-link:hover span{
    color: #F54A00;
}
main{
    background: #FFFBEA;

}
.green-span {
    background-color: #DBFCE7;
    color: rgb(0, 130, 53);
    font-size: 0.75rem;
}
.blue-span{
    font-size: 0.75rem;
    background-color: #DBEAFE;
    color: #144AE9;
}
.icon-head{
    color: #F54900;
    background-color: #FFEDD4;
    width: 3rem;
    height: 3rem;
    transition: all 0.3s;
    cursor: pointer;
}
.icon-head:hover{
    background-color: #FFD6A7;

}
.main{
    height: 750px;
    max-width: 80rem;

}
@media screen and (max-width:768px) {
    .main{
        height: 100%;
    }
   .col-12 .rounded-start-4{
 
    border-top-left-radius: 1rem ;
    border-top-right-radius:1rem ;
border-bottom-left-radius: 0rem;
   }
   

}

.nav-pills .nav-link.active{
    border-bottom: #F54900 2px solid ;
    border-radius: 0;
    background-color: transparent;
    color: #F54900;
}
.nav-link:hover{
    color: #364153;
}
.ingredients{
    background-color: #FFF9EC;
    height: 350px;
            scrollbar-width: thin;
    scrollbar-color: rgba(254, 136, 106, 0.3) transparent;
}
.arrangment{
    width: 24px;
    height: 24px;
    background-color: #FF6900;
    font-size: 0.75rem;
    font-weight: 700;
}
.allcontent{
        scrollbar-width: thin;
    scrollbar-color: rgba(254, 136, 106, 0.3) transparent;
}
.buttonmain {
background: linear-gradient(to right, oklch(70.5% .213 47.604) , oklch(63.7% .237 25.331));
color: white;
padding: 12px 24px;
border-radius: 0.875rem;
border: none;
transition: all 0.3s;
}
.buttonmain:hover{
   background: linear-gradient(to right , #F44500 , #E80004);
   transform: scale(1.1);
}
.arang-inst{
    background: #FF6900;
    width: 48px;
    height: 48px;
}
.icon-nutrition{
    width: 40px;
    height: 40px; 
    background-color: #FFEDD4;
}
.icon-nutrition i{
    color: #F54900;
}
.inner{
    background-color: #F9FAFB;
}
.protein .icon-nutrition{
    background-color: #DBEAFE;
}
.protein .icon-nutrition i{
color: #155DFC;

}
.carbohydrates .icon-nutrition{
    background-color: #FEF9C2;
}
.carbohydrates .icon-nutrition i{
    color: #D08700;
}
.fat .icon-nutrition i{
color: #E7000B;
}
.fat .icon-nutrition{
    background-color: #FFE2E2;
}
.fiber .icon-nutrition{
    background-color: #DBFCE7 ; 

}
.fiber .icon-nutrition i{
    color: #00A63E;
}
.sodium .icon-nutrition i{
    color: #E60076;
}
.sodium .icon-nutrition {
    background-color: #FCE7F3;
}
.chef div {
    background-color: #FFFBEB;
   
    border-left: 4px solid #FFB900;
}
.check{
    background-color: #E17100;
    font-size: 10px;
    padding: 5px;
}
.rating{
    width: auto;
    top: 2%;
    left: 2%;
    font-size: 0.875rem;
}
.rating i{
    color: #FDC700;
    margin-right: 3px;
}
.prep{
    width: auto;
    bottom: 24px;
    left: 24px;
    right: 24px;



}
.fa-clock{
    color: #FF6900;
}
.fa-fire-burner{
    color: #FB2C36;
}
.fa-people-group{
    color: #2B7FFF;
}
